<div ng-controller="eventController as event">
    <h3>{{event.title}}</h3>

    <div class="col-xs-12 col-md-6 col-lg-6">
        <label class="control-label">Departure address</label>
        <div class="input-group">
            <input type="text" class="form-control" ng-model="event.departure.address"
                    placeholder="Where would you like to leave from?">
            <span class="input-group-addon" id="enterAddress"
                    ng-click="event.getDepartureLatLng()">
                <i class="fa fa-search"></i>
            </span>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6">
        <h3>Departure Stop Times</h3>
        <ul ng-repeat="stop in event.stops">
            <li>
                <!--TODO do we want to display stops or routes? -->
                <a>{{stop.depStop.stop_name}}</a> - <a>{{stop.desStop.stop_name}}</a>
            </li>
        </ul>
    </div>
</div>
