<div ng-controller="eventController as event">
    <h3>{{event.title}}</h3>

    <div class="col-xs-12 col-md-6 col-lg-6">
        <label class="control-label">Departure address</label>
        <div class="input-group">
            <input type="text" class="form-control" ng-model="event.departure.address"
                    placeholder="Where would you like to leave from?">
            <span class="input-group-addon" id="enterAddress"
                    ng-click="event.getDepartureLatLng()">
                <i class="fa fa-search"></i>
            </span>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6" ng-if="event.routes">
        <h3>Possible Routes</h3>
        <div ng-repeat="route in event.routes">
            <h3 ng-style="style(route)">{{route.route.route_short_name}} {{route.route.route_long_name}}</h3>
            <!--TODO do we want to display stops or routes? -->
            <a ng-href="http://maps.google.com/?ll={{route.departure.stop_lat}},{{route.departure.stop_lon}}">{{route.departure.stop_name}}</a> - <a ng-href="http://maps.google.com/?ll={{route.destination.stop_lat}},{{route.destination.stop_lon}}">{{route.destination.stop_name}}</a>
        </div>
    </div>
</div>
